$height-background: 100%;
$width-background: 100%;
$title-font-color: grey;
$Mainfont:'Noto Sans TC',
sans-serif;
html {
	height: $height-background;
	font-family: $Mainfont;
}

body {
	min-height: 75rem;
	padding-top: 3.5rem;
	height: $height-background;
	font-family: $Mainfont;
}

#map {
	height: $height-background / 2;
}

#main_title {
	background-image: url(images/water_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	height: $height-background / 2;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.btn_search {
	height: 2rem;
	width: auto;
}

.navbar-center {
	display: inline;
	float: none;
	vertical-align: top;
}

.navbar-collapse-center {
	text-align: center;
}

.jumbotron {
	margin-bottom: 0;
	padding-bottom: 0;
}

.text-center {
	text-align: center;
	vertical-align: middle;
}

.main-text {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
}

input[type=search] {
	font-family: $Mainfont;
	font-size: 1.2em;
	background-color: white;
	border: 0;
}


/*Css to target the dropdownbox*/

.ui-autocomplete {
	color: black;
	font-size: 1.2em;
	text-decoration: none;
	background-color: white;
	list-style-type: none;
	width: 1.5rem;
	cursor: pointer;
	padding-left: 0.3rem;
	li :hover {
		padding-left: 0.3rem;
		background-color: aliceblue;
	}
}

.footer_bottom {
	background-color: gainsboro;
	text-align: center;
	vertical-align: middle;
	height: 5%;
	position: relative;
	p {
		position: absolute;
		top: 45%;
		left: 0;
		right: 0;
		font-size: 0.75rem;
	}
}
